https://pynative.com/python-basic-exercise-for-beginners/

# Exercise 1:

 Given two integer numbers return their product. If the product is greater than 1000, then return their sum

In [3]:
def exercise_1(x,y):
    if x*y < 1000:
        return x*y
    return (x + y)

exercise_1(30, 40)

600

# Exercise 2:
Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

In [9]:
def exercise_2():
    for i in range(10):
        if i == 0:
            print(f'Current number is {i} and sum of current number and previous number is 0')
        else:
            print(f"Current number is {i} and sum of current number and previous number is {i+i-1}")
    
exercise_2()

Current number is 0 and sum of current number and previous number is 0
Current number is 1 and sum of current number and previous number is 1
Current number is 2 and sum of current number and previous number is 3
Current number is 3 and sum of current number and previous number is 5
Current number is 4 and sum of current number and previous number is 7
Current number is 5 and sum of current number and previous number is 9
Current number is 6 and sum of current number and previous number is 11
Current number is 7 and sum of current number and previous number is 13
Current number is 8 and sum of current number and previous number is 15
Current number is 9 and sum of current number and previous number is 17

In [139]:
def exercise_2_2():
    previous = 0
    for i in range(10):
        result = i + previous
        print(f'Current number is {i} and Sum is {result}')
        previous = i
        
exercise_2_2()

Current number is 0 and Sum is 0
Current number is 1 and Sum is 1
Current number is 2 and Sum is 3
Current number is 3 and Sum is 5
Current number is 4 and Sum is 7
Current number is 5 and Sum is 9
Current number is 6 and Sum is 11
Current number is 7 and Sum is 13
Current number is 8 and Sum is 15
Current number is 9 and Sum is 17

# Exercise 3: 
Given a string, display only those characters which are present at an even index number.

In [13]:
def exercise_3(str):
    for i in range(len(str)):
        if i % 2 != 0:
            pass
        else:
            print(str[i])

input_str = 'vcmdsknkejn'
exercise_3(input_str)

v
m
s
n
e
n

In [142]:
def exercise_3_2():   
    input_str = input('Feed me a string! ')
    print(input_str[0::2], sep='\n')
    
exercise_3_2()

Feed me a string! cjsakjcfhfweiu
cskchwi

# Exercise 4: 
Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

In [18]:
def exercise_4(str, n: int):
    return str[n:]

input_string = 'jafsnjndefuenskj'

exercise_4(input_string, 4)

'njndefuenskj'

# Exercise 5: 
Given a list of numbers, return True if first and last number of a list is same

In [143]:
def exercise_5(list):
    if list[0] == list[-1]:
        return True
    else:
        return False
    
input_list = [10,22,31,50,10]

exercise_5(input_list)

True

In [144]:
def exercise_5_2(list):
    print(list[0] == list[-1])
    
exercise_5_2(input_list)

True

# Exercise 6: 
Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [24]:
def exercise_6(list):
    for i in list:
        if i % 5 == 0: print(i)
        
exercise_6(input_list)

10
50
10

In [145]:
def exercise_6_2(list):
    print(*[i for i in list if i % 5 == 0], sep = '\n')
    
exercise_6_2(input_list)

10
50
10

# Exercise 7: 
Return the count of sub-string “Emma” appears in the given string

In [65]:
def exercise_7():
    given_string = input('Type your string here: ')
    sub_string = input('Type the sub string you want to count')
    i = given_string.count(sub_string)
    print(f'{sub_string} appears {i} times in given string')

exercise_7()

Type your string here: havy is beautiful. havy is cute. Havy is smart.
Type the sub string you want to counthavy
havy appears 2 times in given string

In [25]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# Exercise 8: 
Print the following pattern \
1 \\ 
2 2 \\
3 3 3 \\
4 4 4 4 \\
5 5 5 5 5

In [44]:
def exercise_8(n: int):
    for i in range(1, n + 1):
        print(f'{i} '*i)
        
exercise_8(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [33]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

# Exercise 9: 
Reverse a given number and return true if it is the same as the original number

In [61]:
def exercise_9(int):
    str_int = str(int)
    for i in range(len(str_int)):
        if str_int[i] != str_int[-i-1]:
            return False
        else:
            return True
    

input_int = 1223221
exercise_9(input_int)

True

# Exercise 10: 
Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

In [63]:
def exercise_10(list1: list, list2: list):
    result = []
    for i in list1:
        if i % 2 != 0:
            result.append(i)
    for i in list2:
        if i % 2 == 0:
            result.append(i)
    return result

list1 = [1,2,3]
list2 = [4,5,6,7]

exercise_10(list1, list2)

[1, 3, 4, 6]

# Exercise 11: 
Write a code to extract each digit from an integer, in the reverse order

In [97]:
def exercise_11(input_int: int):
    string = str(input_int)
    digits = [int(i) for i in string]
    digits.reverse()
    result = str(digits).replace('[','').replace(']','').replace(',','')
    print(result)

exercise_11(12345)

5 4 3 2 1

In [157]:
def exercise_11_2(n: int):
    result = [int(i) for i in str(n)]
    print(*reversed(result), sep = '  ')
    
exercise_11_2(12345)

5  4  3  2  1

*list --> unpack the list, sep = "separation option" (optional, it can be '\n' (xuong dong, cach 1 dong), '\t'(xuong dong),...)

# Exercise 12: 
Calculate income tax for the given income by adhering to the below rules: 
Taxable Income	Rate (in %) 

First $10,000	0

Next $10,000	10

The remaining	20

In [103]:
def exercise_12(income: int):
    if income <= 10000:
        tax = 0
    elif income <= 20000:
        tax = income * 10 / 100
    else: tax = 20000*10 / 100  + (income-20000)*20 / 100
    return tax

exercise_12(income = 50000)

8000.0

# Exercise 13: 
Print multiplication table form 1 to 10 (bang cuu chuong)

In [119]:
def exercise_13(): 
    for i in range(1,11):
        for j in range(1,11):
            print (i*j, end = ' ')
        print("\t") # hết mỗi vòng lặp của i thì xuống dòng 1 lần
exercise_13()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [122]:
print([i for i in range(10)][::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Exercise 14: 
Print downward Half-Pyramid Pattern with Star (asterisk)

In [131]:
def exercise_14(n: int):
    for i in range(n,0,-1):
        print('* ' *i)
        
exercise_14(8)

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [154]:
def exercise_14_2(n: int):
    for i in range(n):
        print('* ' * (n-i+1))
        
exercise_14(8)

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Reverse a list
Phương thức list.reverse() nhanh, rõ ràng. Nếu trong trường hợp của bạn, việc đảo ngược bản thân list ban đầu là chấp nhận được, hãy chọn cách này.

Nếu điều đó là không chấp nhận được, hãy sử dụng reversed().

# Exercise 15: 
Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [134]:
def exercise_15(base,exp):
    return base**exp

exercise_15(3,5)

243